body {
    height: 100vh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(180, 240, 232);
    overflow: hidden; 
}

ul{
    margin-top: 0;
}

.no-gap {
    margin: 0;
    padding: 0;
}

.centered {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}
#grid-container {
    visibility: hidden;
    display: grid;
    grid-template-columns: repeat(3, 30px);
    grid-template-rows: repeat(3, 30px);
    gap: 1px;
    background-color: green;
    padding: 1px;
}
.grid-item {
    background-color: #fff;
    background-image: url("gridBlackWhite4x4.png");
    image-rendering: pixelated;
}

.random-square {
    position: relative;
    background-color: #000;
    /* background-image: url(gridGray.png);*/
}

.container-fit {
    display: flex;
    flex-wrap: wrap;
}

#info-panel{
    padding: 20px;
    width: 250px;
    height: 200px;
    background-color: lightsalmon;
    margin: auto;
}


